@media only screen and (max-width: 767px) {
  .motion {
    visibility: hidden;
    max-height: 0;
  }
}

@media only screen and (min-width: 768px) {
  .mobilev {
    visibility: hidden;
    max-height: 0;
  }
}

.fontresponseheader {
  font-family: PoppinsSemiBold;
  font-size: clamp(30px, 40px, 60px);
}

.container {
  margin-left: 5%;
}

@media only screen and (max-width: 767px) {
  .container {
    margin-left: 0%;
    max-height: 500px;
    max-width: 100%;
    overflow-x: hidden;
  }
}

/*
.poppinsmedium {
  font-family: PoppinsMedium;
}

.poppinssemibold {
  font-family: PoppinsSemiBold;
}

.poppinsregular {
  font-family: PoppinsRegular;
}
*/
